<h1>All Teams</h1>

<% @teams.each do |team| %>
  <p><%= team.name %></p>
  <ul>
   <% team.players.each do |player| %>
     <li><%= player.first_name %> <%= player.last_name %></li> 
   <% end %>
</ul>
  <%= link_to("Team Profile", team_path(team))  %>
<% end %>



