<h1>All Grounds</h1>

<% @grounds.each do |ground| %>
  <p><%= ground.name %></p>
  <% if @current_user.admin? %>
    <p><%= link_to("Edit Ground", edit_ground_path(ground)) %></p>
    <%= button_to 'Delete Ground', ground, :method => 'delete' %>
  <% end %>
<% end %>
