<div id="landing-container" class="container center full-height landing">

    <%= image_tag('logo.svg', :id => "landing-logo", :alt => "Sydney Social Cricket") %>


    <div class="row">
        <p>A platform for those who want to enjoy the game a game of cricket, get into the contest and have a few beers
            on a weekend. So grab your kit and sign up below. Either join a team as a player, or create a team! </p>
    </div>

    <%= link_to "Join a team", new_player_path, :class => "wide-button red" %>
    <br>
    <%= link_to "Create a team", new_team_path, :class => "wide-button gold" %>

    </div>
</div>