<h1>New Game</h1>

<% if @game.errors.any? %>
    <% @game.errors.full_messages.each do |msg| %>
      <div class="error-container">
        <ul>
            <li><%= msg %></li>
        </ul>
      </div>
    <% end %>
<% end %>

<%= render "games/form" %>